
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>Create Team</h1>
      <%= form_for @team do |f| %>

        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label"><%= f.label :name %></label>
          <div class="col-10">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label"><%= f.label :sport %></label>
          <div class="col-10">
            <%= f.text_field :sport, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label"><%= f.label :season %></label>
          <div class="col-10">
            <%= f.select :season, ['Spring', 'Summer', 'Fall', 'Winter'], class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label"><%= f.label :year %></label>
          <div class="col-10">
            <%= f.select :year, ['2017', '2018', '2019', '2020'], class: 'form-control' %>
          </div>
        </div>

        <%= f.submit "Create Team" %>

      <% end %>
    </div>
  </div>
</div>
