
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <%= form_for [@team, @game] do |f| %>

        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label"><%= f.label :field %></label>
          <div class="col-10">
            <%= f.text_field :field, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label"><%= f.label :park %></label>
          <div class="col-10">
            <%= f.text_field :park, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label"><%= f.label :points_for %></label>
          <div class="col-10">
            <%= f.text_field :points_for, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label"><%= f.label :points_against %></label>
          <div class="col-10">
            <%= f.text_field :points_against, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label"><%= f.label :season %></label>
          <div class="col-10">
            <%= f.text_field :season, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label"><%= f.label :year %></label>
          <div class="col-10">
            <%= f.text_field :year, class: 'form-control' %>
          </div>
        </div>

        <%= f.submit "Save Game" %>

      <% end %>
    </div>
  </div>
</div>

