<div class="view-settings">
  <button><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Schedule</button>
</div>

<div class="item-wrap">

    <% @team.games.each do |game| %>
      <div class="item">
        <div>
          4/26 @ 4:00 PM<br/>
          <%= game.park %> - Field <%= game.field %>
        </div>
        <div>
          Opponent Name
        </div>
        <div>
          <%= game_result(game.result) %><br/>
          <%= game.points_for %>-<%= game.points_against %>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Edit
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to 'Edit', edit_team_game_path(@team, game), class: 'dropdown-item' %>
            <a class="dropdown-item" href="#">Delete</a>
          </div>
        </div>
      </div>
    <% end %>

</div>

<%= form_for [@team, @game] do |f| %>
<tr>
  <td></td>
  <td></td>
  <td><%= f.text_field :park, :required => true %></td>
  <td><%= f.text_field :field, :required => true %></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>
    <%= f.hidden_field :team_id, value: @team.id %>
    <%= f.hidden_field :season, value: @team.season %>
    <%= f.hidden_field :year, value: @team.year %>
    <%= f.submit "Add Game" %>
  </td>
</tr>
<% end %>