<!DOCTYPE html>
<html>
<head>
  <title>TallyRec</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<ul class="nav justify-content-end">
  <li class="nav-item">
    <%= link_to 'Dashboard', team_path(default_team.team_id), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Schedule', team_games_path(default_team.team_id), class: 'nav-link' %>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" href="#">Stats</a>
  </li> -->
  <li class="nav-item">
    <%= link_to 'Roster', team_members_path(default_team.team_id), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Chat</a>
  </li>
  <li class="nav-item">
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
    <% else %>
      <%= link_to('Login', new_user_session_path)  %>  
    <% end %>
  </li>
</ul>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>



<%= yield %>

</body>
</html>
